.content {
  display: none;
}

.showtext {
  display: block;
}

.btn {
  background-color: red;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 1px solid goldenrod;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
